<template name="companies.list">

  <div class="innerAll">

    <div class="innerB">
      <h3 class="margin-none pull-left">Companies</h3>
      <div class="clearfix"></div>
    </div>


    <div class="widget">
      <div class="widget-body padding-none">

        <table class="table margin-none">

          <thead>
            <tr>
              <th>Name</th>
              <th></th>
              <th></th>
            </tr>
          </thead>


          <tbody>
          {{#each items}}
          <tr>
            <td>{{> editableText collection="companies" field="name"}}</td>
            <td>{{> editableText collection="companies" field="description"}}</td>
            <td>{{_id}}</td>
          </tr>
          {{/each}}

          </tbody>

        </table>

      </div>
    </div>

  </div>

</template>

