<template name="deal_detail">
    <div class="innerAll">
        <div class="row">
            <div class="col-sm-6">
                <div class="widget innerAll">
                    <h2 class="">{{> editableText collection="deals" context=deal field="name"}}</h2>
                    <p class="lead">{{> editableText collection="deals" context=deal field="description" textarea=true}}</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="widget">
                    <div class="innerAll half border-bottom">
                        <a href="" class="btn btn-primary btn-xs pull-right"><i class="fa fa-plus-circle"></i></a>
                        <h4 class="margin-none padding-none">Persons</h4>
                    </div>

                    {{#each deal.getJobPositions}}
                    <div class="media innerAll half border-bottom margin-none">
                        <span class="pull-left"><i class="fa fa-user"></i></span>
                        <div class="media-body">
                            <h5>{{getPersonName}}<small>at {{getCompanyName}}</small></h5>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="widget">
                    <div class="innerAll half border-bottom">
                        <a href="#" class="new-action btn btn-primary btn-xs pull-right"><i class="fa fa-plus-circle"></i></a>
                        <h4 class="margin-none padding-none">Activities</h4>
                    </div>

                    {{#each deal.getActivities}}
                        {{> deals_activity}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>
