<template name="persons.edit">
    <div class="innerAll">
        <div class="row">
            <div class="col-sm-6">
                <div class="widget">
                    <div class="widget-head">
                        <h2 class="heading">Professional</h2>
                    </div>
                    <div class="widget-body">
                        {{#each positions}}
                            {{> quickForm collection="JobPositions" doc=this id="job-position-edit" type="update"
                                fields="company,name,description,emails,phones"}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="widget">
                    <div class="widget-head">
                        <h2 class="heading">Personal</h2>
                    </div>
                    <div class="widget-body">
                        {{> quickForm collection="Persons" doc=person id="person-edit" type="update"
                            fields="name,description,emails,phones"}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
