<template name="persons.detail">
    <div class="innerAll">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="widget">
                            <div class="innerAll border-bottom">
                                <a href="" class="btn btn-primary btn-xs pull-right"><i class="fa fa-plus-circle"></i></a>
                                <h4 class="margin-none padding-none">Works at</h4>
                            </div>

                            {{#each person.jobPositions}}
                            <div class="media bg-white innerAll border-bottom margin-none">
                                <div class="media-body">
                                    <h5>{{../person.getCompanyName this}} <small>{{name}}</small></h5>
                                    {{#if emails}}<p class="innerB">{{join emails}}</p>{{/if}}
                                    {{#if phones}}<p class="innerB border-bottom">{{join phones}}</p>{{/if}}
                                    <p>{{description}}</p>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
                <div class="widget">
                    <div class="widget-head">
                        <h2 class="heading">Personal</h2>
                    </div>
                    <div class="widget-body">
                        {{> quickForm collection="Persons" doc=person id="person-edit" type="update"
                        fields="name,description,emails,phones,jobPositions"}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="widget">
                    <div class="widget-head">
                        <h2 class="heading">Deals</h2>
                    </div>
                    <div class="widget-body">
                        deal
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
